.container {
  max-width: 1170px;
  padding: 50px 15px;
  margin: 0 auto;
}

.taskTitle {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin: 20px 0;
}
